@model List<Pedidos>
@{
    ViewBag.Title = "Lista de Pedidos";
    ViewBag.NomePagina = "Lista de pedidos";
}
<head>
    <link rel="stylesheet" href="~/css/pedidos/index.css">
</head>
<body class="pedidos">
    <div class="msg1">
        <h1 id="msg1">Lista de Pedidos 📜</h1>
    </div>
    

    <div class="msg2">
        <h1 id="msg2">Você tem @Model.Count pedidos</h1>
    </div>
        

        @if(ViewBag.Mensagem != null) {
            <p class="alert alert-danger alert-message">@ViewBag.Mensagem</p>
        }
        <div class="pedido-tudo">
            @foreach(var pedido in Model)
        {
            <div class="pedido-quadrado">
                @pedido.IdPedido
                @pedido.NomeCliente
                @pedido.TelCliente
                @pedido.DataEntrada
                @pedido.HoraEntrada
                @pedido.HoraSaida
                @pedido.TextoStatus
                @pedido.TextoTipoPedido
                    
                @if (@pedido.TextoStatus == "Andamento" && @pedido.HoraSaida == "")
                {
                <div class="botoes-cad">
                    <a href="/Pedidos/Update/@pedido.IdPedido" class="btn btn-sm btn-primary" id="finalizar">Finalizar</a>
                </div>
                }
                <div class="botoes-cad">
                    <a href="/ItensPedidos/Index/@pedido.IdPedido" class="btn btn-sm btn-primary" id="ItensPedido">Itens</a>
                </div>
        }

    <div class="adicionar">
        <a href="/pedidos/create" class="btn btn-primary" id="adicionarB">Adicionar</a>
    </div>
   
</body>


