@model List<Dashboard>
@{
    ViewBag.Title = "Dashboard";
    ViewBag.NomePagina = "Dashboard";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/relatorios/dashboard.css">
</head>
<body class="dashboard">
    @foreach(var valor in Model)
    {
        // gráfico pizza
        decimal valorGasto = @valor.TotalGasto;
        decimal valorReceita = @valor.TotalPedidos;
        decimal lucro = valorReceita - valorGasto;
        
        ViewBag.Despesas = valorGasto;
        ViewBag.Receita = valorReceita;
        ViewBag.Lucro = lucro;
    }

    @foreach(var valor in Model)
    {
        // gráfico linha
        decimal valorGasto = @valor.TotalGasto;
        decimal valorReceita = @valor.TotalPedidos;
        decimal lucro = valorReceita - valorGasto;
        
        ViewBag.Despesas = valorGasto;
        ViewBag.Receita = valorReceita;
        ViewBag.Lucro = lucro;
    }


    <div>
        <div id="pizza"></div>
        <p id="pizza-p">
            Receita Total: @ViewBag.Receita
            <br>
            Despesa Total: @ViewBag.Despesas
            <br>
            Lucro Total: @ViewBag.Lucro
        </p>
    </div>
    <hr class="separacao">
    <div id="linha"></div>
    <hr class="separacao">
    <div id="barra"></div>
</body>




@section Scripts{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script>
    let despesa = '@ViewBag.Despesas'
    let receita = '@ViewBag.Lucro'
    despesa = parseFloat(despesa.replace(',','.'));
    receita = parseFloat(receita.replace(',','.'));
    </script>
    <script src="~/js/pizza.js"></script>
    <script src="~/js/linha.js"></script>
    <script src="~/js/barra.js"></script>
}