@using sag.Models
@model List<ProdutosMaisVendidos>
@{
    ViewBag.Title = "Vendas Do Dia";
    Layout = null;
}

<h1>Vendas Do Dia - Teste</h1>

<table class="table table-hover">
    <tr>
        <th>Produto</th>
        <th>Valor Unitário</th>
        <th>Valor Total Vendido</th>
        <th>Qtd Total em Pedidos</th>
    </tr>

    @* <img src='/images/icon.png' /> *@
    <h1>Vendas do dia</h1>

    @if(ViewBag.Message != null) {
        <p class="alert alert-danger alert-message">@ViewBag.Message</p>
    }

    @foreach(var produtomv in Model)
    {
        <tr>
            <td>@produtomv.Produtos.Nome</td>
            <td>@produtomv.ItensPedidos.ValorUnitario</td>
            <td>@produtomv.ItensPedidos.ValorTotal</td>
            <td>@produtomv.ItensPedidos.Qtde</td>
        </tr>
    }

</table>