@model List<Produtos>
@{
    ViewBag.Title = "Lista de Produtos";
    ViewBag.NomePagina = "Adicione um produto";
}

<head>   
    <link rel="stylesheet" href="~/css/produtos/index.css" />
</head>

<body class="produtos">
    <div class="msg1">
        <h1 id="msg1">Lista de Produtos &#127843</h1>
    </div>
    <table class="tabela">
            <tr>
                <th>Id</th>
                <th >Nome</th>
                <th >Categoria</th>
                <th >Descrição</th>
                <th >Valor</th>      
            </tr>          
        
        @if (ViewBag.Message != null)
        {
            <p class="alert alert-danger alert-message">@ViewBag.Message</p>
        }
        @foreach (var produtos in Model)
        {
            <tr>
                <td class="tabela-info-td">@produtos.Id_produto</td>
                <td class="tabela-info-td">@produtos.Nome</td>
                <td class="tabela-info-td">@produtos.Categoria</td>
                <td class="tabela-info-td">@produtos.Descricao</td>
                <td class="tabela-info-td">@produtos.Valor.ToString("C")</td> 
                <td class="botoes-cad">
                    <a href="/ItensPedidos/addProduto/@produtos.Id_produto?quantidade=2" class="btn btn-sm btn-primary" id="editar">Adicionar</a>
                </td>   
            </tr>
        }
    </table>
</body>