@using sag.Models
@model List<GastosBrutos>
@{
    ViewBag.Title = "Lista de Gastos";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Gastos Brutos </h1>

<table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Nome do Gasto</th>
        <th>Valor</th>
        <th>Data de pagamento</th>
        <th>Data de Vencimento</th>
        <th>&nbsp;</th>
    </tr>

    @* <img src='/images/icon.png' /> *@
    <h1>Você tem @Model.Count gastos</h1>

    @if(ViewBag.Message != null) {
        <p class="alert alert-danger alert-message">@ViewBag.Message</p>
    }

    @foreach(var gastos in Model)
    {
        <tr>
            <td>@gastos.Id_gasto</td>
            <td>@gastos.NomeGasto</td>
            <td>@gastos.Valor</td>
            <td>@gastos.DataPagamentoB</td>
            <td>@gastos.DataVencimentoB</td>
            <td>
                <a href="/GastosBrutos/Delete/@gastos.Id_gasto" class="btn btn-sm btn-danger">Apagar</a>
                <a href="/GastosBrutos/Update/@gastos.Id_gasto" class="btn btn-sm btn-primary">Editar</a>
            </td>
        </tr>
    }

</table>

<a href="/gastosBrutos/create" class="btn btn-primary">Adicionar</a>