@using sag.Models
@model Funcionarios
@{
    ViewBag.Title = "Teste Funcionarios";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema Administrativo Gastronômico</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />   
    <link rel="stylesheet" href="~/css/funcionarios.css" />  
</head>
<body class="funcionarios">
    <h1>Funcionarios - Teste</h1>

    <table class="table table-hover">
        <tr class="titulo">
            <th>Codigo usuario</th>
            <th>Funcao</th>
            <th>Admin</th>
        </tr>
        <tr class="info">
            <td>@Model.CodUsuario</td>
            <td>@Model.Funcao</td>
            <td>@Model.Admintexto</td>
        </tr>
        @if (@Model.Admin==1){<button disabled="disabled">QueijoQueijoQueijoQueijoQueijoQueijoQueijoQueijo</button>}
    </table>
</body>
</html>