@model List<Produtos>
@{
        ViewBag.Title = "Lista de produtos";
        var sucesso = "Produto desabilitado com sucesso!";
        var erro = "Não foi possível desabilitar o produto!";
        var sucessocreate = "Produto criado com sucesso";
    var errocreate = "Não foi possivel concluir o cadastro do produto";
    var sucessoupdate = "Produto atualizar com sucesso";
    var erroupdate = "Não foi possivel atualizar o Produto";
}

<head>   
    <link rel="stylesheet" href="~/css/produtos/index.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body class="produtos">
    <div class="msg1">
        <h1 id="msg1">Lista de Produtos &#127843</h1>
    </div>
    @if (TempData.ContainsKey("Desabilitou"))
        {
            var desabilitou = (bool)TempData["Desabilitou"];
            if (desabilitou)
            {
                <partial name="_MensagemInfo" model="@(sucesso)"></partial>
            }
            else
            {
                <partial name="_MensagemErro" model="@(erro)"></partial>
            }
        }
        @if (TempData.ContainsKey("Criou"))
        {
            var criou = (bool)TempData["Criou"];
            if (criou)
            {
                <partial name="_MensagemInfo" model="@(sucessocreate)"></partial>
            }
            else
            {
                <partial name="_MensagemErro" model="@(errocreate)"></partial>
            }
        }
        @if (TempData.ContainsKey("Atualizou"))
        {
            var atualizou = (bool)TempData["Atualizou"];
            if (atualizou)
            {
                <partial name="_MensagemInfo" model="@(sucessoupdate)"></partial>
            }
            else
            {
                <partial name="_MensagemErro" model="@(erroupdate)"></partial>
            }
        }

    <table class="tabela">
            <tr>
                <th>Id</th>
                <th >Nome</th>
                <th >Categoria</th>
                <th >Descrição</th>
                <th >Valor</th>
                <th >Estado</th>       
            </tr>          
        <div class="msg2">
            <h6 id="msg2">Você possui @Model.Count produtos</h6>
        </div>
        
        
        @if (ViewBag.Message != null)
        {
            <p class="alert alert-danger alert-message">@ViewBag.Message</p>
        }
        @foreach (var produtos in Model)
        {
            <tr>
                <td class="tabela-info-td">@produtos.Id_produto</td>
                <td class="tabela-info-td">@produtos.Nome</td>
                <td class="tabela-info-td">@produtos.Categoria</td>
                <td class="tabela-info-td">@produtos.Descricao</td>
                <td class="tabela-info-td">@produtos.Valor.ToString("C")</td>
                <td class="tabela-info-td">@produtos.TextoEstado</td> 
                <td class="botoes-cad">
                <a href="/Produtos/Update/@produtos.Id_produto" class="btn btn-sm btn-primary" id="editar">Editar</a>
                <a href="/Produtos/Disable/@produtos.Id_produto" class="btn btn-sm btn-danger" id="desabilitar" data-toggle="modal"
                data-target="#exampleModal">Desabilitar</a>   
                </td>   
            </tr>
                    
                    
            <!-- Modal de confirmação exclusão produto -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" style="color: black; ; font-size: 22px">Confirmação de exclusão</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="color: black; font-size: 22px";>
                            Tem certeza que deseja <span style="font-weight: bolder; color: red;">desabilitar</span> o produto?
                        </div>
                        <form asp-controller="Produtos" asp-action="Disable" method="POST">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="">Cancelar</button>
                                <a href="/Produtos/Disable/@produtos.Id_produto" class="btn btn-danger" style="">Confirmar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        }
    </table>
    <div class="adicionar">
        <a href="/Produtos/Create" class="btn btn-primary" id="adicionarC">Adicionar</a>
    </div>
    

</body>

